body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
    overflow-x: hidden;

}
:root{
    --primary:rgb(8, 207, 8);
    --secondary: rgb(243, 243, 41);
    --common: white;
    --rare: black;
}
nav{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--primary);
    justify-content: space-between;
    height: 30px;
    padding: 20px;
    box-shadow: 0 10px 10px var(--rare);
}
nav h1{
    color: var(--common);
    display: inline-flex;
    gap: 20px;
    text-transform: uppercase;
}
nav h1 img{
    height: 60px;
    border-radius: 50%;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
nav ul li{
    list-style: none;
    
}
nav ul li a{
    text-decoration: none;
    color: var(--common);
    text-transform: uppercase;
}
nav #menulist{
    display: none;
}

#home{
   width: 100%;
   height: 100vh;
   position: relative;
   align-content: center;
   justify-items: center;
   background: url(images/1758462356103.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}
     
.menubar1{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    justify-self: left;
    padding: 5px;
    display: none;
}
.menubar1 img{
    height: 25px;
}


#home .info h1{
    color: var(--common);
    text-shadow: 1px 0px 0.5rem black;
    text-transform: capitalize;
}
#home .info h3{
    font-weight: 600;
    color: var(--secondary);
    text-shadow: 0 0 10px var(--rare);
}
#home .info h2{
    text-transform: capitalize;
    text-shadow: 0 0 10px var(--common);
}
.info h2 .text{
    color: var(--secondary);
    text-shadow: 0 0 10px black;
}
#images{
    height: 15pc;
    width: 20pc;
    box-shadow: 0 0 10px yellow;
}
.beautify{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.leaders{
    background: url(images/JUM_0300.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    animation: animate1 50s infinite normal;
    animation-delay: 4s;
}

.members{
    background: url(images/JUM_0298.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    animation: animate2 50s infinite normal;
    animation-delay: 4s;
}

.menubar{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
  #about .container{
        display: flex;
        justify-content: space-between;
    }
   #about .container div{
    width: 50vw;
    margin-top: 60px;
   }
   #about .container img{
    height: 50vh;
    position: relative;
    margin-top: 60px;
    margin-left: 20px;
    align-self: center;
   }
 #events{
    width: 100%;
    height: fit-content;
    justify-items: center;
    background-color: green;
    color: white;
  }
  #events h1{
    text-transform: capitalize;
  }
  #events .storage{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
#events .storage .content{
    width: 25rem;
}
#events .storage .content h2{
    text-transform: capitalize;
}
.coffee{
    background: url(images/COFFEE.png);
    height: 15pc;
    background-size: cover;
    background-repeat: no-repeat;

    animation: animate3 20s linear infinite;
    animation-delay: 10s;
}
.hike{
      background: url(images/HIKE.png);
    height: 15pc;
    background-size: cover;
    background-repeat: no-repeat;
}
.agm{
      background: url(images/AGM.png);
    height: 15pc;
    background-size: cover;
    background-repeat: no-repeat;

    animation: animate4 20s linear infinite;
    animation-delay: 10s;
}
 #join{
    width: 100%;
    justify-items: center;
 }
 #join h1{
    text-transform: capitalize;
    justify-self: center;
 }
 #join h2{
    font-weight: 200;
    justify-self: center;
 }
 #join #data{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
 }
 #join #data img{
    width: 18pc;
    margin-left: 20px;
 }
 #join .join{
    background-color: yellow;
    margin: 20px;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px gray;
 }
 .data h3{
    text-transform: capitalize;
    justify-self: normal;
 }
 .data{
    padding: 10px;
    background-color: antiquewhite;
    margin: 10px;
    width: 20rem;
 }

 
.main{
        background: url(images/IMG-20250829-WA0028.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 25pc;
        margin-top: 0;
        padding: 10px;
        align-content: center;
        justify-items: center;
    }
    .main h1{
        justify-self: center;
        margin-top: 0px;
        text-shadow: 0 0 10px rgb(8, 19, 228);
    }
    .main p{
        font-size:25px;
        font-weight: 700;
        justify-self: center;
        text-shadow: 0 0 10px rgb(23, 228, 8);
    }

    .mainabout{
        width: 100%;
        height: fit-content;
    }
    .mainabout .con{
        display: flex;
        width: 95%;
        margin-left: 10px;
        margin-top: 20px;
        justify-content: center;
        position: relative;
    }
    .con img{
        width: 38%;
        margin-top: 30px;
        margin-right: 20px;
    }
    .mainabout .con .contain{
        background-color: rgb(206, 203, 203);
       width: 50pc;
       height: 10.6pc;
       padding-bottom: 6pc;
       border-radius: 20px;
       margin-top: 20px;
       margin-left: 2px;
       
    }
    .contain h1, h3, p{
        margin-left: 20px;
    }
.history{
        width: 80%;
        height: fit-content;
        background: radial-gradient(rgb(37, 151, 233), rgb(27, 253, 27) );
        font-weight: 500;
        justify-self: center;
        padding: 10px;
        margin-bottom: 20px;
        align-self: center;
        border-radius: 10px;
        box-shadow: 0 0 20px black;
    }
    #history{
        min-height: 100vh;
        padding-top: 5Pc;
    }

#member{
    width: 100%;
    height: 50vh;
    justify-items: center;
    background-color: rgb(20, 156, 241);
    background-image: url(images/1000220152-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: center;
    align-content: center;
}

#member .member h1{
    font-weight: 100;
    margin-top: 20px;
}
#member .member p{
    font-size: 19px;
    color: white;
}
.input{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.input input{
    height: 2rem;
    width: 15rem;
    border-radius: 5px;
    border: none;
    padding: 5px;
}

.input button{
    height: 2.5rem;
    width: 4rem;
    background-color: green;
    border: none;
    color: antiquewhite;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
}
.input button:hover{
    background-color: rgb(98, 255, 8);
    cursor: pointer;
    color: black;
}
.success{
    height: 80%;
    width: 100%;
    position: relative;
    margin: 0;
    font-size: 10px;
    align-content: center;
    justify-content: center;
    display: none;
    transition: ease-in-out;
    transition-delay: 0.5s;
}
.success video{
    height: 5pc;
    margin-left: 40%;
}
.success div{
    background-color: #fff;
    width: 25rem;
    justify-self: center;
    padding: 2px;
    margin-top: .5px;
}
.success div h2{
    justify-self: center;
    margin-left: 20px;
    font-weight: 200;
    font-style: oblique;
}
.success div h2 a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin-left: 30%;
}

   .contactinfo h2{
        text-transform: capitalize;
        text-align: center;
    }
    .contactinfo p{
        text-transform: capitalize;
    }
    .contactinfo{
        margin-left: 20px;
    }
    .iconsfooter img{
        height: 20px;
        margin-left: 20px;
    }
    .maps iframe{
        height: 20pc;
        width: 10pc;
    }
    .useful{
        width: 20pc;
    }
    .useful h2{
        text-transform: capitalize;
    }
    .useful ul li{
        list-style: none;
        padding: 6px;
    }
    .useful ul li a{
        color: white;
        text-decoration: none;
    }
    footer{
        background-color: black;
        color: white;
        display: flex;
        flex-wrap: wrap;
        padding-top: 10px;
    }
    .footabout{
        margin-left: 20px;
        width: 20pc;
    }
    .footabout img{
        height: 10pc;
        border-radius: 500px;
        justify-self: center;
    }
    .part ul a{
        color: #fff;
        text-decoration: none;
    }
    .part ul a li{
        list-style: none;
    }
    .part ul a:hover{
        color: gray;
    }








@keyframes animate1 {
    0%{
        background: url(images/JUM_0300.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    50%{
        background: url(images/IMG-20250401-WA0063.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    100%{
        background: url(images/DSC_4409.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@keyframes animate2 {
    0%{
        background: url(images/JUM_0298.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    50%{
        background: url(images/IMG-20250829-WA0028.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    100%{
        background: url(images/WhatsApp\ Image\ 2025-10-06\ at\ 8.42.44\ AM.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
@keyframes animate3 {
    0%{
     background: url(images/COFFEE.png);
    height: 15pc;
    background-size: cover;
    background-repeat: no-repeat;
    }
    50%{
     background: url(images/COFFEENIGHT.png);
    height: 15pc;
    background-size: cover;
    background-repeat: no-repeat;
    }
    100%{
         background: url(images/COFFEE.png);
    height: 15pc;
    background-size: cover;
    background-repeat: no-repeat;
    }
}
@keyframes animate4 {
    0%{
          background: url(images/AGM.png);
    height: 15pc;
    background-size: cover;
    background-repeat: no-repeat;
    }
    50%{
          background: url(images/AGMDJS.png);
    height: 15pc;
    background-size: cover;
    background-repeat: no-repeat;
    }
    100%{
          background: url(images/AGM.png);
    height: 15pc;
    background-size: cover;
    background-repeat: no-repeat;
    }
}



























/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px){
    nav{
        font-size: 15px;
    }
     #join #data{
        flex-wrap: wrap;
     }
     #history{
        height: fit-content;
     }
     #history .history{
        height: fit-content;
     }
     footer{
        justify-content: center;
     }
     .con{
        display: flex;
     }
}















/** For mobile devices **/
@media (max-width: 767px){
    #home{
        height: 100%;
    }
    .menubar{
        display: block;
        margin-top: 10px;
    }
    nav{
        height: fit-content;
        padding: 0;
        align-items: normal;
    }
    nav h1{
        font-size: 17px;
        margin-left: 5px;
    }
    nav h1 img{
        height: 30px;
    }
     nav ul{
        display: none;
     }
    nav ul li{
        padding: 7px;
    }
    nav #menulist{
        display: block;
    }
    nav #menulist li{
        padding-top: 20px;
        margin-bottom: 20px;
    }
    nav .menubar1{
        display: block;
    }
    .info{
        margin: 20px;
        margin-top: 90px;
        width: 70%;
    }
    #home{
        height: max-content;
        justify-items: center;
    }
   
    .members{
        display: none;
    }

     #about .container img{
    height: 27%;
   }
   .ndogo{
      width: 90%;
      height: auto;
   }
    #about .container{
        display: flex;
        flex-wrap: wrap;
        margin-left: 30px;
        margin-right: 10px;
        justify-items: center;
    }
     #about .container div{
        width: auto;
        margin-left: 10px;
     }

     #events {
        height: fit-content;
        justify-content: center;
        padding-top: 2px;
     }
     #events h1{
        margin-top: 20px;
        
     }
     #events h3{
        margin-left: 30px;
        margin-right: 10px;
     }
     #events .storage{
        margin-left: 20px;
        width: fit-content;
        padding-right: 0;
        justify-content: center;
     }
      #join #data{
        flex-direction: column;
        justify-items: center;
        width: fit-content;
        justify-self: center;
      }
      #member{
        justify-content: center;
      }
      .member{
        margin-left: 40px;
        width: fit-content;
        justify-self: center;
      }
       
      .member h1{
        color: honeydew;
      }
          #history .history{
        height: fit-content;
        margin-top: 40px;
        
     }
     .menubar1{
        display: block;
     }
     footer{
        padding-left: 2rem;
        gap: 5px;
        padding-bottom: 20px;
        justify-content: center;

     }
     .footabout{
        width: 70%;
     }
     .footabout img{
        height: 5pc;
     }
   .mainabout .con{
    display: flex;
    flex-wrap: wrap;
   }
   .mainabout .con img{
    width: 70%;
   }
} 